In [12]:
import pandas as pd
import numpy as np
import requests
import json
import pickle
from lightfm import LightFM
from lightfm.evaluation import precision_at_k
import scipy
from flaskapp.models import Business
from flaskapp import db
from flaskapp.recommender import make_input, predict

In [13]:
restaurant_names = ['112 Eatery', '1st Wok', "50's Grill"]
user_ratings = [5.0, 5.0, 5.0]
rating_vector = make_input(restaurant_names, user_ratings)

In [15]:
prediction = predict(rating_vector)
sorted_indices = np.argsort(prediction)

In [17]:
sorted_indices[:20]

array([691, 214, 608, 670, 129, 375, 588, 461, 807, 244, 271, 605, 561,
       633, 750, 121,  51,  20, 465, 512])

In [5]:
names = pd.read_csv('data/names.csv')
for i in range(len(names)):
    name, category, coord = names.iloc[i, :]
    business = Business(name=name, coordinates=coord, categories=category)
    db.session.add(business)
db.session.commit()

In [6]:
df = pd.read_csv('data/business_data.csv')
df.head()

,Unnamed: 0,address,categories,coordinates,name,phone,price,query_offset,rating,restaurant_id,transactions,url,zip_code
0,50,NaN,"[{'alias': 'japanese', 'title': 'Japanese'}]","{'latitude': 44.921699931935, 'longitude': -93...",Okome House,NaN,NaN,1,5.0,6qn4Nt4frApZ2vn2rQerKg,[],https://www.yelp.com/biz/okome-house-minneapol...,55406.0
1,51,NaN,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.9819673599659, 'longitude': -9...",Kbop Korean Bistro,(612) 331-4993,$,1,4.5,vi58lz0GLWITkg_r0WieNg,"['pickup', 'delivery']",https://www.yelp.com/biz/kbop-korean-bistro-mi...,55414.0
2,52,NaN,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 45.012975, 'longitude': -93.263755}",Olive & Lamb,NaN,$$,1,4.5,07VKEPjS7Juf2IB4jVa-wA,['delivery'],https://www.yelp.com/biz/olive-and-lamb-minnea...,55418.0
3,53,NaN,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 44.9835380660176, 'longitude': -9...",Red Cow - Minneapolis,(612) 238-0050,$$,1,4.5,MDPv2B2jwA1qLvQCXlEVww,['delivery'],https://www.yelp.com/biz/red-cow-minneapolis-m...,55401.0
4,54,NaN,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.97916, 'longitude': -93.23471}",Korean Bowl,(612) 605-8960,NaN,1,5.0,VaEY4xoDh1Y5bvmvBb5Bug,"['pickup', 'delivery']",https://www.yelp.com/biz/korean-bowl-minneapol...,55414.0

In [42]:
df.drop_duplicates(subset='name', keep='first', inplace=True)

,categories,coordinates,name,phone,price,query_offset,rating,restaurant_id,transactions,url,zip_code
0,"[{'alias': 'japanese', 'title': 'Japanese'}]","{'latitude': 44.921699931935, 'longitude': -93...",Okome House,NaN,NaN,1,5.0,6qn4Nt4frApZ2vn2rQerKg,[],https://www.yelp.com/biz/okome-house-minneapol...,55406.0
1,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.9819673599659, 'longitude': -9...",Kbop Korean Bistro,(612) 331-4993,$,1,4.5,vi58lz0GLWITkg_r0WieNg,"['pickup', 'delivery']",https://www.yelp.com/biz/kbop-korean-bistro-mi...,55414.0
2,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 45.012975, 'longitude': -93.263755}",Olive & Lamb,NaN,$$,1,4.5,07VKEPjS7Juf2IB4jVa-wA,['delivery'],https://www.yelp.com/biz/olive-and-lamb-minnea...,55418.0
3,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 44.9835380660176, 'longitude': -9...",Red Cow - Minneapolis,(612) 238-0050,$$,1,4.5,MDPv2B2jwA1qLvQCXlEVww,['delivery'],https://www.yelp.com/biz/red-cow-minneapolis-m...,55401.0
4,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.97916, 'longitude': -93.23471}",Korean Bowl,(612) 605-8960,NaN,1,5.0,VaEY4xoDh1Y5bvmvBb5Bug,"['pickup', 'delivery']",https://www.yelp.com/biz/korean-bowl-minneapol...,55414.0

In [46]:
names = df.loc[:, ['name', 'categories', 'coordinates']]
names.to_csv('data/names.csv', index=False)

,name,categories,coordinates
0,Okome House,"[{'alias': 'japanese', 'title': 'Japanese'}]","{'latitude': 44.921699931935, 'longitude': -93..."
1,Kbop Korean Bistro,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.9819673599659, 'longitude': -9..."
2,Olive & Lamb,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 45.012975, 'longitude': -93.263755}"
3,Red Cow - Minneapolis,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 44.9835380660176, 'longitude': -9..."
4,Korean Bowl,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.97916, 'longitude': -93.23471}"

In [15]:
df['coordinates'].apply(lambda x: (json.loads(x)['latitude'], json.loads(x)['longitude']))

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [22]:
names = df.loc[:, ['names', 'coordinates', 'categories']]
names.to_csv('data/names.csv')

In [21]:
test

"{'latitude': 44.921699931935, 'longitude': -93.2123801484704}"

In [13]:
model = LightFM(loss='warp', no_components=50)
model.fit(train, epochs=100)
train_precision = precision_at_k(model, train, k=10).mean()
print(train_precision)

NameError: name 'train' is not defined

In [12]:
model.predict(rating_vector, np.arange(names.shape[0]))

array([-8.56973417e-03, -1.30643237e+00,  1.57228932e-02, -9.37740624e-01,
       -5.25542259e-01,  1.36807486e-01, -3.30875784e-01, -8.70892346e-01,
        6.99218288e-02, -2.00041324e-01, -1.09470963e+00, -9.62633193e-01,
       -3.02075297e-01, -7.55709112e-01, -4.38898087e-01,  1.71446875e-01,
        5.89263588e-02, -3.35353017e-01, -1.22458446e+00, -5.53000510e-01,
       -1.45270228e+00, -8.71211469e-01, -9.16200757e-01, -9.60602582e-01,
       -1.06396258e+00, -2.31011912e-01, -4.02503908e-01, -5.50684333e-01,
       -1.26531637e+00, -5.87008953e-01, -4.42767024e-01,  1.20969124e-01,
       -6.01991832e-01, -1.30081952e+00, -1.03799200e+00, -5.53155184e-01,
       -7.74758816e-01, -3.94998699e-01, -5.37457287e-01, -2.70655781e-01,
       -3.05632651e-01, -6.38454556e-01, -1.35597038e+00, -7.05816865e-01,
       -1.14701581e+00, -3.08248490e-01, -4.56547767e-01, -3.20211977e-01,
        2.08617508e-01, -1.44268274e-01, -5.27988732e-01, -1.45498407e+00,
       -8.58255148e-01, -1.86858043e-01, -7.08535969e-01, -2.60302037e-01,
        2.66928345e-01, -4.30909008e-01, -9.88206744e-01,  1.13758862e-01,
       -7.01257944e-01, -7.42268443e-01, -6.05294585e-01, -8.79150331e-01,
       -4.40036178e-01,  1.51024893e-01,  5.91125607e-01, -4.04161215e-01,
       -2.28087410e-01, -1.35106361e+00, -5.14284790e-01, -3.39392275e-01,
        2.96479906e-03, -7.87124813e-01, -2.40947828e-01, -2.40611747e-01,
       -2.76719183e-01, -4.99483258e-01, -2.82888234e-01, -5.79743981e-01,
       -2.05053970e-01, -7.19170988e-01, -3.07358265e-01, -9.31803524e-01,
       -7.85631314e-02, -5.77293336e-01, -4.14447300e-02, -3.63534689e-01,
        1.57505095e-01, -3.19770426e-01, -4.07413661e-01, -5.83388388e-01,
       -5.67606688e-01,  8.72769877e-02, -1.09226316e-01, -9.67545927e-01,
       -6.38681769e-01, -4.93625343e-01, -3.60559106e-01,  4.09964584e-02,
       -7.23147035e-01, -5.13615072e-01, -8.68800461e-01, -1.41610229e+00,
       -6.07061051e-02, -9.31118369e-01, -5.11887908e-01, -1.13068604e+00,
       -1.13164020e+00, -1.21453321e+00, -2.37354323e-01, -3.26460958e-01,
        1.22226648e-01,  8.96048397e-02, -7.07541585e-01, -4.58899140e-01,
       -9.47242320e-01, -1.13493001e+00, -5.03439009e-01, -3.07199329e-01,
       -6.88271105e-01, -1.47718406e+00, -5.45298338e-01, -2.28901163e-01,
       -3.12049717e-01, -1.06888092e+00, -6.66508913e-01, -5.85945062e-02,
       -3.58691126e-01, -1.63563406e+00, -6.24419689e-01, -1.37614286e+00,
       -6.26996696e-01, -5.72791576e-01, -4.81755793e-01,  2.10106358e-01,
       -9.22532320e-01, -1.12507105e+00, -1.07655518e-01, -5.12176633e-01,
       -3.52241546e-01, -6.89910233e-01, -8.59416246e-01, -8.81427705e-01,
       -1.30420613e+00, -5.58320940e-01, -1.10520804e+00, -7.04633892e-01,
       -1.97165422e-02, -5.74015379e-01,  1.60773456e+00, -1.30138710e-01,
       -1.23233056e+00,  5.81176840e-02, -2.86788642e-01, -2.90806830e-01,
       -2.03047574e-01, -5.54774106e-01, -3.21731895e-01, -7.01915085e-01,
       -5.64312041e-01, -4.24204081e-01, -1.10892844e+00,  1.25626028e-01,
       -7.47874737e-01, -2.15298682e-01, -9.28453863e-01, -5.18010795e-01,
       -7.44655058e-02, -3.11008185e-01, -4.72848356e-01, -4.09788221e-01,
       -4.57549751e-01, -4.75114167e-01, -3.26042503e-01, -1.05113137e+00,
       -7.67511189e-01, -3.46340269e-01,  4.19657677e-02, -5.09730220e-01,
       -1.69745326e-01, -4.19470519e-01, -3.20296794e-01, -1.49283618e-01,
       -8.14264834e-01, -1.04196325e-01, -1.04773545e+00, -8.82754743e-01,
       -6.57594085e-01, -1.05144322e+00, -2.06019819e-01, -7.74645925e-01,
       -5.07599950e-01, -7.30686307e-01, -9.52047467e-01, -8.80724072e-01,
       -1.28662813e+00, -3.01387340e-01, -1.39050171e-01, -1.66508391e-01,
       -9.09444988e-02, -9.59413350e-01,  1.72219381e-01, -1.07927120e+00,
       -9.62317586e-02, -5.74207366e-01,  3.27566117e-02, -8.81370041e-04,
       -9.31249440e-01, -6.33535445e-01, -1.10988510e+00, -1.12759304e+00,
       -8.04500401e-01, -8.70822787e-01, -2.01542640e+00,  7.77104348e-02,
       -1.17689919e+00, -3.93956751e-01, -4.72925186e-01, -4.51769233e-01,
        2.39766687e-01, -8.29649746e-01, -5.85763335e-01, -4.91076916e-01,
       -4.44563687e-01, -3.66456211e-01, -9.81666327e-01, -4.07031685e-01,
       -5.19035459e-01, -4.35773462e-01, -6.12285614e-01, -7.10450411e-01,
       -7.27995098e-01,  4.15749848e-01,  1.31170362e-01, -5.09173453e-01,
       -2.80327767e-01, -6.14605069e-01, -2.88424678e-02, -1.01915014e+00,
        1.57075465e-01, -9.00431722e-02, -9.36996162e-01, -2.25055680e-01,
       -1.50482202e+00, -1.29201800e-01, -7.26524413e-01, -1.33549833e+00,
       -4.75153714e-01,  9.98083130e-02, -1.93336040e-01, -2.52346367e-01,
       -1.96749851e-01, -8.34508777e-01, -9.85590816e-01, -7.83066213e-01,
       -1.45190820e-01, -2.30137572e-01, -7.38595903e-01, -8.26641560e-01,
       -1.23168182e+00, -4.73793745e-01, -6.94693446e-01, -1.78415716e-01,
       -1.28631735e+00, -7.90839255e-01, -1.03928876e+00, -6.06897883e-02,
       -9.64926779e-01, -1.36260808e+00, -1.30093849e+00, -1.50428271e+00,
       -1.15475766e-01, -1.39833510e+00, -3.79704893e-01, -6.82506382e-01,
        1.18360877e-01, -6.85398459e-01,  1.62535384e-01, -1.22003525e-01,
       -1.16396439e+00, -9.70786691e-01, -6.48338854e-01,  2.05806687e-01,
       -5.16735196e-01, -7.98043847e-01, -4.32700396e-01, -3.90817642e-01,
       -7.00922430e-01, -1.10597277e+00, -6.27401114e-01, -1.16052067e+00,
       -4.45352823e-01, -4.24137056e-01, -7.93649971e-01, -3.11709285e-01,
       -8.90194356e-01, -7.61030376e-01, -1.15323699e+00, -3.85502368e-01,
       -7.36902118e-01, -4.54173177e-01, -2.12776035e-01, -3.76803041e-01,
       -1.77764118e-01, -1.12229300e+00, -6.96802020e-01,  1.26192821e-02,
       -1.13711047e+00, -2.60946631e-01, -2.19013486e-02, -5.18791735e-01,
       -7.39585280e-01, -5.33625543e-01, -1.98003739e-01, -7.66750932e-01,
       -1.25931132e+00, -8.15963686e-01, -5.39155126e-01, -3.77617776e-01,
       -3.66497342e-03, -5.86972296e-01,  1.14004917e-01, -3.71517271e-01,
       -3.03449303e-01, -3.19656253e-01, -1.70047939e-01, -8.14947248e-01,
       -3.24705452e-01, -9.73408222e-01, -1.23713124e+00, -2.40663812e-01,
       -9.38263476e-01, -7.43098497e-01, -4.42629248e-01, -4.07601029e-01,
       -3.28465551e-01,  7.74228200e-02, -4.01005298e-01, -1.12671196e-01,
       -1.38467407e+00, -8.81245434e-02, -9.83469069e-01, -6.33618414e-01,
       -9.83900949e-02, -1.07787597e+00, -1.42319947e-01, -3.83797526e-01,
       -8.97957325e-01, -9.43162799e-01, -4.82491702e-01, -8.98775518e-01,
       -9.93459165e-01, -4.54975545e-01, -1.32604456e+00, -4.80734289e-01,
       -8.40201914e-01, -4.65206534e-01, -7.62247980e-01, -1.24293581e-01,
       -6.33083165e-01, -1.11031604e+00, -1.10685742e+00, -1.14901865e+00,
       -1.40809655e-01, -7.80567169e-01, -3.05822551e-01, -6.31493807e-01,
       -8.89805913e-01, -3.36694896e-01, -3.50863099e-01, -1.45413682e-01,
       -1.07149087e-01, -4.23282981e-01, -8.55582774e-01, -1.60591435e+00,
       -5.82925268e-02, -8.95098388e-01, -4.21108991e-01, -5.81391975e-02,
       -1.63203463e-01, -1.79138213e-01, -4.78875548e-01, -5.77174544e-01,
       -8.82319272e-01, -6.24902248e-01, -2.86609679e-01, -1.28633142e-01,
       -5.13439536e-01,  1.99868888e-01, -1.07046258e+00, -5.06287873e-01,
       -1.08248186e+00, -8.03583384e-01, -1.17904747e+00, -1.38971651e+00,
       -1.86936185e-01, -5.32784283e-01, -6.36273801e-01, -4.71587777e-01,
       -8.71125281e-01, -2.78941333e-01, -6.01851702e-01, -1.74230099e-01,
       -5.87077677e-01, -4.77520376e-01, -7.30780721e-01, -5.47890186e-01,
        4.00135517e-02, -2.93885022e-01, -1.53729290e-01, -9.14276302e-01,
       -4.96836364e-01, -3.81852359e-01, -6.81265593e-01, -1.20945580e-01,
       -1.32363188e+00, -1.79392010e-01, -1.31430316e+00, -2.87894607e-01,
       -3.23530167e-01, -1.17144299e+00, -5.76014936e-01, -4.24212873e-01,
       -1.13306499e+00, -5.15355587e-01, -8.36781740e-01, -2.01974995e-02,
        1.49399135e-03, -7.50105143e-01, -4.64900821e-01,  1.35312890e-04,
       -7.26016104e-01, -1.13250995e+00, -5.75113773e-01, -4.05808330e-01,
       -9.75771785e-01, -2.33950511e-01, -7.82593906e-01, -1.17773831e+00,
       -1.21309288e-01, -1.48189396e-01, -4.25296664e-01, -8.48957002e-01,
       -1.07401168e+00, -8.04092526e-01, -7.94298887e-01, -2.18562931e-01,
       -7.35586524e-01,  9.50285271e-02, -5.29281557e-01, -7.00370908e-01,
       -5.73533177e-01, -4.69912924e-02, -8.75494361e-01, -1.03715217e+00,
       -5.22159338e-02, -4.47352648e-01,  1.71168037e-02, -1.72694046e-02,
       -3.48445326e-01, -1.53044498e+00, -1.11885078e-01, -3.52083534e-01,
       -4.15025592e-01, -1.44365108e+00, -1.11335027e+00, -2.38863766e-01,
       -1.23954716e-03, -2.74787486e-01, -7.25105107e-01, -8.85025561e-01,
       -1.58821955e-01,  2.92025041e-02, -7.47524917e-01, -2.26092249e-01,
       -4.32159185e-01, -3.10090423e-01, -6.06016994e-01, -7.21090078e-01,
        3.34759355e-01,  1.09781779e-01, -9.24092159e-02, -5.77357054e-01,
       -1.01947856e+00, -6.42322898e-01, -3.08569580e-01, -5.36532462e-01,
       -1.18931592e+00, -5.78203686e-02, -1.10523021e+00, -6.01822972e-01,
       -1.64368659e-01, -8.58671427e-01, -3.75442743e-01, -5.21007419e-01,
        8.36312175e-02, -6.49939001e-01, -7.51249939e-02, -7.52391338e-01,
       -1.14384091e+00, -6.34421229e-01, -7.71961510e-01, -1.43690556e-01,
       -1.87500834e-01, -9.17122781e-01, -7.97205091e-01, -5.42127430e-01,
       -3.03752333e-01, -1.16734791e+00, -3.02888989e-01, -3.99530411e-01,
       -1.42478454e+00, -2.02227622e-01, -3.35284293e-01, -5.97439170e-01,
       -1.06240189e+00, -5.95127881e-01, -1.23423353e-01, -4.55155224e-01,
       -6.43756628e-01, -1.04403853e+00, -7.80630946e-01, -4.68875587e-01,
       -7.25995123e-01, -5.94514459e-02, -2.74010122e-01, -8.80985379e-01,
       -1.16859877e+00, -1.16499996e+00, -4.90182728e-01, -1.42149651e+00,
       -1.03355217e+00, -7.78565779e-02, -1.93297550e-01,  7.37125203e-02,
       -2.01049626e-01, -8.26654375e-01, -6.45145893e-01, -3.86758387e-01,
       -1.01860300e-01, -1.10494065e+00, -7.20704257e-01, -8.53129625e-01,
       -9.30253744e-01, -1.63960248e-01, -3.01502615e-01, -3.43691319e-01,
       -9.24900889e-01, -7.88992345e-01, -7.73725435e-02, -7.85645425e-01,
       -1.89789668e-01, -4.62015010e-02, -7.50890315e-01, -1.00787234e+00,
       -7.33910203e-01, -7.70407557e-01, -9.09495413e-01,  8.80777389e-02,
       -4.74878430e-01, -1.49617505e+00, -1.07160580e+00, -5.26390858e-02,
       -6.20893657e-01, -8.97285402e-01, -1.22769952e+00, -2.13096812e-02,
       -2.77481019e-01,  9.06116068e-02, -5.47658920e-01, -4.48681235e-01,
       -3.48162025e-01, -1.01407909e+00, -2.65340835e-01, -6.62681103e-01,
       -9.56900060e-01, -4.95149404e-01, -5.39157689e-01, -2.57116348e-01,
       -8.94632518e-01, -9.20710444e-01, -4.55025315e-01, -5.68902731e-01,
       -1.01527333e+00,  4.55788374e-01, -4.78900105e-01, -3.03663790e-01,
       -1.53467059e+00, -1.02721083e+00, -1.38436115e+00, -6.46440685e-01,
       -1.33963868e-01, -4.40286607e-01, -1.08687055e+00, -2.01948956e-01,
       -6.98565781e-01, -3.52527142e-01, -6.50798261e-01, -8.96485746e-01,
        3.09738845e-01, -3.59173983e-01, -8.01706195e-01, -3.48559767e-01,
       -8.34977686e-01, -1.50183427e+00, -9.94992018e-01, -2.75331348e-01,
       -1.96520650e+00, -3.15592855e-01, -4.49462652e-01, -1.27987301e+00,
       -3.91071886e-01, -9.31872070e-01, -3.91810179e-01, -5.59543073e-01,
       -8.55999351e-01, -2.93798894e-01, -4.96539026e-01, -9.03072357e-01,
       -6.28300548e-01, -1.01257682e+00, -1.15271580e+00, -8.83819342e-01,
       -1.09421581e-01, -4.38775927e-01, -1.63323686e-01, -7.70915031e-01,
       -2.82404482e-01,  5.28304204e-02, -7.57285058e-01, -3.14099163e-01,
       -1.32034922e+00, -1.48737860e+00,  2.38027796e-02, -4.46497500e-01,
       -1.32986635e-01, -1.15397763e+00, -1.64033100e-01, -1.09367406e+00,
       -3.76402825e-01,  5.60544990e-03,  6.34310395e-02, -4.21087176e-01,
       -2.43796155e-01, -2.95571327e-01, -1.13952088e+00, -1.15990627e+00,
       -8.11784342e-03, -8.69157836e-02, -6.95549309e-01, -6.92403316e-01,
       -7.31550157e-01, -1.29147434e+00, -4.08374444e-02, -1.00244319e+00,
       -3.92943352e-01,  3.58535528e-01, -5.18579483e-01, -7.54180789e-01,
       -6.27788246e-01, -3.72449756e-01, -9.20554221e-01, -9.91067141e-02,
       -4.14492249e-01,  1.62826806e-01, -2.83538312e-01, -1.99398741e-01,
       -7.73448288e-01, -9.28501189e-01, -1.79649603e+00, -3.68285507e-01,
       -8.34505200e-01, -2.40886539e-01, -6.86962128e-01, -5.09286106e-01,
       -5.10387234e-02, -1.37745395e-01, -3.27492177e-01, -2.65720785e-01,
       -1.35001421e+00, -1.41328549e+00, -3.64035442e-02,  3.93119067e-01,
       -1.11149400e-01,  2.52874553e-01, -2.34975040e-01, -4.76801872e-01,
       -1.67082012e-01, -4.88017380e-01,  1.09258451e-01, -2.20894790e+00,
       -3.70169520e-01, -8.84193897e-01, -5.50830424e-01, -4.79785323e-01,
       -9.69433784e-01, -4.33301657e-01, -1.94773898e-01, -3.01998734e-01,
       -6.33984268e-01, -1.35872567e+00,  5.09332807e-04, -6.95468843e-01,
       -9.72994328e-01, -6.44923508e-01, -1.26525521e+00, -5.96111596e-01,
       -5.56193471e-01, -7.43422151e-01, -1.35641170e+00, -7.32947111e-01,
       -5.43954551e-01,  1.56894997e-01, -5.38507737e-02, -6.88680410e-02,
       -2.62443662e-01,  1.69869423e-01, -7.84232497e-01, -1.09065402e+00,
       -3.65380675e-01, -8.42460930e-01, -3.90954733e-01, -8.56259823e-01,
       -5.69134653e-01, -8.09892893e-01, -3.31003904e-01, -6.38400018e-02,
       -5.19733429e-01,  1.41834710e-02, -3.78456414e-01, -1.40170962e-01,
       -7.57092237e-01, -5.02055883e-01, -2.35791057e-01, -3.03694755e-01,
       -1.54625833e-01, -1.20805547e-01, -6.93464398e-01, -1.39887571e+00,
       -2.89546847e-01, -4.47708875e-01, -4.04658258e-01, -3.34829241e-01,
       -5.32037020e-01, -9.76191163e-01, -5.40457010e-01, -3.14317226e-01,
       -2.26888627e-01, -4.87956591e-02, -1.48097765e+00, -6.83466017e-01,
       -6.18381798e-01,  4.00618911e-01,  3.06276113e-01, -5.37052989e-01,
       -4.64708388e-01, -5.29502273e-01, -9.01326239e-01, -6.74585104e-01,
       -6.83763921e-02, -1.31591344e-02, -3.55740786e-01,  1.74797833e-01,
       -1.21496212e+00, -6.00266457e-01, -7.68416405e-01, -2.02189907e-01,
       -2.74220496e-01,  6.67736232e-02, -6.95204139e-01, -9.77813005e-01,
       -7.36976743e-01, -3.52250338e-01, -2.55676985e-01, -5.18549263e-01,
       -1.10352230e+00, -9.41015840e-01, -1.35996848e-01, -9.30814505e-01,
       -7.73922741e-01, -6.52839065e-01, -5.36607623e-01, -8.49379361e-01,
       -1.26113462e+00, -1.11153173e+00, -9.42953765e-01, -5.52175999e-01,
       -3.51392388e-01, -7.83486128e-01, -1.24938202e+00, -7.12627411e-01,
       -1.22995801e-01, -4.01648283e-01, -7.64028370e-01, -2.32075334e-01,
        1.42943636e-01, -3.79522145e-01, -3.38966578e-01, -7.30012476e-01,
       -3.32300276e-01, -9.59457278e-01, -4.00356054e-01, -3.04783493e-01,
       -6.53722644e-01, -4.61622953e-01, -6.81350470e-01, -1.51518846e+00,
       -1.76831409e-01, -2.98543274e-01, -5.91528535e-01, -7.73353100e-01,
       -6.61811471e-01,  1.35533363e-01, -4.71727937e-01, -9.91947591e-01,
       -9.74208474e-01, -1.16123164e+00,  3.72205861e-02])

In [7]:
rating_vector = np.zeros(names.shape[0])
sorted_index = np.searchsorted(names, restaurant_names)
for i, res_name in enumerate(restaurant_names):
    if names[sorted_index[i]].lower() == res_name.lower():
        rating_vector[sorted_index[i]] = user_ratings[i]
        print(f'set {res_name} to {user_ratings[i]}')

set 112 Eatery to 5.0
set 1st Wok to 5.0
set 50's Grill to 5.0

In [15]:
filename = 'data/recommender'
pickle.dump(model, open(filename, 'wb'))
  
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))

In [17]:
train_precision = precision_at_k(loaded_model, train, k=10).mean()
print(train_precision)

0.14249086

In [4]:
review_df = pd.read_csv('data/full_review_data.csv')
review_df.drop_duplicates(subset = ['user_id', 'restaurant_id'], keep='first', inplace=True)
review_df = review_df[~review_df['restaurant_name'].isnull()]
bus_df = pd.read_csv('data/business_data.csv')
bus_df = bus_df[bus_df['name'].isin(review_df['restaurant_name'])]
bus_df.drop_duplicates(subset='name', keep='first', inplace=True)
bus_df.sort_values(by='name', inplace=True)
review_df = review_df[['user_id', 'restaurant_name', 'rating']]
pivoted = pd.pivot(review_df, index='user_id', columns='restaurant_name', values='rating')
pivoted.fillna(value=0, inplace=True)
item_df = process_item_features(bus_df)

In [9]:
bool_dict = {False: 0, True: 1}
item_df['has_pickup'] = item_df['has_pickup'].map(lambda x: bool_dict[x])
item_df['has_delivery'] = item_df['has_delivery'].map(lambda x: bool_dict[x])

In [11]:
item_sparse = scipy.sparse.coo_matrix(item_df)

In [12]:
item_sparse

<819x4 sparse matrix of type '<class 'numpy.float64'>'
	with 2424 stored elements in COOrdinate format>

In [13]:
pivoted.head()

restaurant_name,$5 Pizza,112 Eatery,1st Wok,50's Grill,5th Street Station,6300 Steakhouse,801 Chophouse,8th Street Grill & Taphouse,A Slice of New York,A&J Fish & Chicken,...,Yum! Kitchen and Bakery,Zait & Za'atar,Zakia Deli,Zelino Deli,Zelo,Zettas,Zoe's Cafe,Zumbro Cafe,iPierogi,ie Italian Eatery
user_id,,,,,,,,,,,,,,,,,,,,,
-2LdRY6wGWVdBa83R9-M-A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-3GuMSvftRhN2yn1TFIWEw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-3aLm3nt7dX2KnEyHsONig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-68rYG6a5YtxGI0pCevZmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-6aUbeI5oyxAfhnqWq26zA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [39]:
# Define the recommender system
# To-do: train the recommender system, save the model

In [33]:
pivoted.head()

restaurant_name,$5 Pizza,112 Eatery,1st Wok,50's Grill,5th Street Station,6300 Steakhouse,801 Chophouse,8th Street Grill & Taphouse,A Slice of New York,A&J Fish & Chicken,...,Yum! Kitchen and Bakery,Zait & Za'atar,Zakia Deli,Zelino Deli,Zelo,Zettas,Zoe's Cafe,Zumbro Cafe,iPierogi,ie Italian Eatery
user_id,,,,,,,,,,,,,,,,,,,,,
-2LdRY6wGWVdBa83R9-M-A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-3GuMSvftRhN2yn1TFIWEw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-3aLm3nt7dX2KnEyHsONig,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-68rYG6a5YtxGI0pCevZmQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-6aUbeI5oyxAfhnqWq26zA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0

In [34]:
# Convert review_df to training matrix
review_df = pd.read_csv('data/full_review_data.csv')
review_df.drop_duplicates(subset = ['user_id', 'restaurant_id'], keep='first', inplace=True)
df = review_df[['user_id', 'restaurant_name', 'rating']]
pivoted = pd.pivot(df, index='user_id', columns='restaurant_name', values='rating')
pivoted.head()
pivoted.fillna(value=0, inplace=True)
sparse = scipy.sparse.csr_matrix(pivoted.values)
np.savez_compressed('data/train.npz',  train=sparse)

In [41]:
bus_df = pd.read_csv('data/business_data.csv')
bus_df.head()

,address,categories,coordinates,name,phone,price,query_offset,rating,restaurant_id,transactions,url,zip_code
0,NaN,"[{'alias': 'japanese', 'title': 'Japanese'}]","{'latitude': 44.921699931935, 'longitude': -93...",NaN,NaN,NaN,1,5.0,6qn4Nt4frApZ2vn2rQerKg,[],https://www.yelp.com/biz/okome-house-minneapol...,55406.0
1,NaN,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.9819673599659, 'longitude': -9...",NaN,(612) 331-4993,$,1,4.5,vi58lz0GLWITkg_r0WieNg,"['delivery', 'pickup']",https://www.yelp.com/biz/kbop-korean-bistro-mi...,55414.0
2,NaN,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 45.012975, 'longitude': -93.263755}",NaN,NaN,$$,1,4.5,07VKEPjS7Juf2IB4jVa-wA,['delivery'],https://www.yelp.com/biz/olive-and-lamb-minnea...,55418.0
3,NaN,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 44.9835380660176, 'longitude': -9...",NaN,(612) 238-0050,$$,1,4.5,MDPv2B2jwA1qLvQCXlEVww,['delivery'],https://www.yelp.com/biz/red-cow-minneapolis-m...,55401.0
4,NaN,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.97916, 'longitude': -93.23471}",NaN,(612) 605-8960,NaN,1,5.0,VaEY4xoDh1Y5bvmvBb5Bug,"['delivery', 'pickup']",https://www.yelp.com/biz/korean-bowl-minneapol...,55414.0

In [81]:
# Preprocessing the restaurant-level features
bus_df = pd.read_csv('data/business_data.csv')
item_features = bus_df.loc[:, ['price', 'rating', 'transactions']]
item_features.index = bus_df['name']
item_features = item_features[~item_features.index.isnull()]
item_features['has_pickup'] = item_features['transactions'].apply(lambda li: 'pickup' in li)
item_features['has_delivery'] = item_features['transactions'].apply(lambda li: 'delivery' in li)
item_features.drop('transactions', axis=1, inplace=True)
def price_mapping(s):
    d = {np.nan: np.nan, '$':1, '$$': 2, '$$$': 3, '$$$$': 4}
    return d[s]
item_features['price'] = item_features['price'].map(price_mapping)
item_features.head()

                       price  rating  has_pickup  has_delivery
name
Okome House              NaN     5.0       False         False
Kbop Korean Bistro       1.0     4.5        True          True
Olive & Lamb             2.0     4.5       False          True
Red Cow - Minneapolis    2.0     4.5       False          True
Korean Bowl              NaN     5.0        True          True

In [79]:
item_features.head()

,55104.0,55105.0,55108.0,55111.0,55112.0,55113.0,55114.0,55116.0,55126.0,55150.0,...,55439.0,55441.0,55454.0,55455.0,55456.0,55467.0,has_delivery,has_pickup,price,rating
name,,,,,,,,,,,,,,,,,,,,,
Okome House,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,False,NaN,5.0
Kbop Korean Bistro,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,True,1.0,4.5
Olive & Lamb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,False,2.0,4.5
Red Cow - Minneapolis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,False,2.0,4.5
Korean Bowl,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,True,NaN,5.0

In [67]:
#item_features = pd.concat([item_features, pd.get_dummies(item_features['zip_code'])])
item_features.columns

Index([       55104.0,        55105.0,        55108.0,        55111.0,
              55112.0,        55113.0,        55114.0,        55116.0,
              55126.0,        55150.0,        55305.0,        55343.0,
              55344.0,        55401.0,        55402.0,        55403.0,
              55404.0,        55405.0,        55406.0,        55407.0,
              55408.0,        55409.0,        55410.0,        55411.0,
              55412.0,        55413.0,        55414.0,        55415.0,
              55416.0,        55417.0,        55418.0,        55419.0,
              55421.0,        55422.0,        55423.0,        55424.0,
              55426.0,        55427.0,        55428.0,        55429.0,
              55430.0,        55435.0,        55439.0,        55441.0,
              55454.0,        55455.0,        55456.0,        55467.0,
         'categories', 'has_delivery',   'has_pickup',        'price',
             'rating',     'zip_code'],
      dtype='object')

In [9]:
df = pd.read_csv('data/business_data.csv')
df = df[~df.name.isnull()]
df.head()

,address,categories,coordinates,name,phone,price,query_offset,rating,restaurant_id,transactions,url,zip_code
50,NaN,"[{'alias': 'japanese', 'title': 'Japanese'}]","{'latitude': 44.921699931935, 'longitude': -93...",Okome House,NaN,NaN,1,5.0,6qn4Nt4frApZ2vn2rQerKg,[],https://www.yelp.com/biz/okome-house-minneapol...,55406.0
51,NaN,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.9819673599659, 'longitude': -9...",Kbop Korean Bistro,(612) 331-4993,$,1,4.5,vi58lz0GLWITkg_r0WieNg,"['pickup', 'delivery']",https://www.yelp.com/biz/kbop-korean-bistro-mi...,55414.0
52,NaN,"[{'alias': 'mediterranean', 'title': 'Mediterr...","{'latitude': 45.012975, 'longitude': -93.263755}",Olive & Lamb,NaN,$$,1,4.5,07VKEPjS7Juf2IB4jVa-wA,['delivery'],https://www.yelp.com/biz/olive-and-lamb-minnea...,55418.0
53,NaN,"[{'alias': 'newamerican', 'title': 'American (...","{'latitude': 44.9835380660176, 'longitude': -9...",Red Cow - Minneapolis,(612) 238-0050,$$,1,4.5,MDPv2B2jwA1qLvQCXlEVww,['delivery'],https://www.yelp.com/biz/red-cow-minneapolis-m...,55401.0
54,NaN,"[{'alias': 'korean', 'title': 'Korean'}]","{'latitude': 44.97916, 'longitude': -93.23471}",Korean Bowl,(612) 605-8960,NaN,1,5.0,VaEY4xoDh1Y5bvmvBb5Bug,"['pickup', 'delivery']",https://www.yelp.com/biz/korean-bowl-minneapol...,55414.0

In [13]:
df.drop_duplicates(subset='name', keep='first', inplace=True)
df.shape

(822, 12)

In [14]:
name = df['name'].values[0]
id_key = df['restaurant_id'].values[0]
print(f'name: {name}, id_key: {id_key}')
#review_response = query_review_api(id_key, api_key)
review_df = make_review_df(review_response['reviews'], id_key, name)
review_df.head()
#all_reviews = pd.concat([all_reviews, review_df])

name: Okome House, id_key: 6qn4Nt4frApZ2vn2rQerKg

,rating,review,timestamp,review_id,user_name,user_id,restaurant_id,restaurant_name
0,5,What a darling neighborhood spot! Lots of take...,2020-09-03 19:42:33,lIfGtbTIs0iFY-FO2fTeXg,Teri M.,qsvF7iQ8kHKFqDo9HccYLA,6qn4Nt4frApZ2vn2rQerKg,Okome House
1,5,Love the veggie curry and chicken karaage! Tas...,2020-09-29 08:08:39,glv_p4Ja9yFaIMF1rP4utg,Tiger H.,NJVkWqKTtaR3w9zOMl-zAw,6qn4Nt4frApZ2vn2rQerKg,Okome House
2,5,We have been waiting for this restaurant to op...,2020-08-29 17:32:02,6pwyJnB024AP2z9K4O1YsA,Maggie B.,W08sB7PohxU0z3csKM8ihg,6qn4Nt4frApZ2vn2rQerKg,Okome House

In [38]:
review_df.to_csv('data/full_review_data.csv', index=False)

In [36]:
for i in range(389,len(df)):
    name, id_key = df['name'].values[i], df['restaurant_id'].values[i]
    review_response = query_review_api(id_key, api_key)
    try:
        new_reviews = make_review_df(review_response['reviews'], id_key, name)
    except:
        print(f'stopped loop at {name}, i = {i}')
        time.sleep(5)
        continue
    review_df = pd.concat([review_df, new_reviews])
    time.sleep(1)

stopped loop at Caffrey's Deli & Subs, i = 492

In [40]:
review_df.head(50)

,rating,review,timestamp,review_id,user_name,user_id,restaurant_id,restaurant_name
0,5,What a darling neighborhood spot! Lots of take...,2020-09-03 19:42:33,lIfGtbTIs0iFY-FO2fTeXg,Teri M.,qsvF7iQ8kHKFqDo9HccYLA,6qn4Nt4frApZ2vn2rQerKg,Okome House
1,5,Love the veggie curry and chicken karaage! Tas...,2020-09-29 08:08:39,glv_p4Ja9yFaIMF1rP4utg,Tiger H.,NJVkWqKTtaR3w9zOMl-zAw,6qn4Nt4frApZ2vn2rQerKg,Okome House
2,5,We have been waiting for this restaurant to op...,2020-08-29 17:32:02,6pwyJnB024AP2z9K4O1YsA,Maggie B.,W08sB7PohxU0z3csKM8ihg,6qn4Nt4frApZ2vn2rQerKg,Okome House
0,5,This is the BEST Korean food place in MN! Even...,2020-08-15 17:13:26,MJETH4iL5OFnuhZ3AdW_5A,Abbey C.,gleOsBEFdHGQUJu9p0lijA,vi58lz0GLWITkg_r0WieNg,Kbop Korean Bistro
1,5,Love this place so much! I work close by so it...,2020-07-12 12:35:56,LtBzaUimLaJeOEzoNkinAw,Anila Y.,Cz_I-lkHk4wBQx7i3UN04A,vi58lz0GLWITkg_r0WieNg,Kbop Korean Bistro
2,5,This place takes social distancing very seriou...,2020-07-20 16:59:24,jCLad87USD9j7JI0bqnHqA,Lidiya L.,k2lHZN8uJ84SrD2z85rcWA,vi58lz0GLWITkg_r0WieNg,Kbop Korean Bistro
0,5,This is the best Mediterranean food I have had...,2020-10-11 12:38:13,qOMOAExF9XOTFGbNSMM9xg,Sarah K.,TjQxvguf_kR3fQ8W5_OHzg,07VKEPjS7Juf2IB4jVa-wA,Olive & Lamb
1,5,Very cute little place with amazing food! We h...,2020-08-24 14:48:54,KV8NZrIQi26lnJrsX8y4Og,Taya B.,zZUEQ6H7_cr4exhnhro2ZQ,07VKEPjS7Juf2IB4jVa-wA,Olive & Lamb
2,5,One of my favorite Mediterranean restaurants! ...,2020-09-26 15:42:20,nVd-JCOX2GTw5IR9g5dpZQ,Sarah S.,5UgTAODbiJ1P9Qo5V_8X4A,07VKEPjS7Juf2IB4jVa-wA,Olive & Lamb
0,5,I am so glad this restaurant is operating duri...,2020-07-09 14:52:31,d9FB8U7ciSeP6LPQGK-PBw,Linda S.,1_i42G-exZoyBdCirzYWBQ,MDPv2B2jwA1qLvQCXlEVww,Red Cow - Minneapolis
1,5,Have you tried Red Cow's takeout service yet? ...,2020-03-22 10:40:23,1qSVVXIg6D88XP4jiffrdw,Lorene F.,VHtsWrs7l8d0Y-CBGDtRtw,MDPv2B2jwA1qLvQCXlEVww,Red Cow - Minneapolis
2,5,We boomeranged back for Red Cow take out in No...,2020-04-04 08:25:29,qudGd-PxHb0F_kV2MVQJNw,Doug R.,4POllbVXl-vaPtOlyn4esw,MDPv2B2jwA1qLvQCXlEVww,Red Cow - Minneapolis
0,5,Ok I feel a little bad saying it since I do lo...,2020-09-12 14:26:30,gzjh_fiDNYRTm6GmuXYG-g,j e.,binxGmKW0utpZVooa_dz4g,VaEY4xoDh1Y5bvmvBb5Bug,Korean Bowl
1,5,Ive been here a couple of times since they ope...,2020-08-13 11:07:35,XyDCRA1aZFXfjFOgQFeKyA,Enock S.,h1TcT01LP2-h2Fb6qYYVEw,VaEY4xoDh1Y5bvmvBb5Bug,Korean Bowl
2,4,This place is located in a food court setting ...,2020-09-11 18:36:42,3C0ypHZKnBKl_Gcfq6kbmA,Tracee T.,_GKsGHL_jAj2BqVafdf57Q,VaEY4xoDh1Y5bvmvBb5Bug,Korean Bowl
0,5,Yum yum! The Hawaiian chicken is so tasty. S...,2020-08-27 15:03:17,jlh7y08gwXbmPFPsaesdBw,Alex L.,8FzANiv-GyqHRmuTIcBpyw,Qfi2-C45fk48c0JG4gVXbA,Young Man
1,5,Young Man is a great new restaurant. I ordere...,2020-06-21 16:01:58,lp2rS737fhHCwxBovgJUmg,Kevin L.,6HYmy9AWEdp-rfTtCKZUVw,Qfi2-C45fk48c0JG4gVXbA,Young Man
2,5,They are open for take out!!! we loved Don Os...,2020-04-04 16:28:55,ONgNQAEZE5sB4M8LT3KooA,Michael N.,fz-I2NS5g2EoOI-69cxQKw,Qfi2-C45fk48c0JG4gVXbA,Young Man
0,5,Colita has quickly become one of my favorite p...,2020-09-11 10:12:27,r_GWOF8ZTTW4v4PShLkhLg,Chris M.,Cu9HRGNj7EJH3bTA8xSwYQ,bGT4lTagoIC6hd5PnCyltA,Colita
1,5,This was my first time at Colita. I just order...,2020-09-19 21:29:14,Xy8TPQRs6_cxTVYSN6ECdQ,Janae J.,19nBAS3Ssf6n8whH4Am4tw,bGT4lTagoIC6hd5PnCyltA,Colita
2,5,Amazing food and the best cocktails. Staff is ...,2020-08-22 10:22:48,v3amgthtJ_x_0h5w7049xA,Jessica B.,qZUJ1LL6vdV0Q9GaOSvXDg,bGT4lTagoIC6hd5PnCyltA,Colita
0,5,"Fuck, you guys. Everything here will melt and ...",2020-10-07 19:09:09,D799KG1dx-Vf3zpZ5JreSQ,Annalee T.,iqS1mA7zdFEUIjz8KW5oVw,zv_XJAQr9D3PNR5eHYhC5w,Bar La Grassa
1,5,I miss this restaurant more than most during C...,2020-09-19 09:02:22,Sx78U_0np04cZwBYUIDZ4g,Ursula B.,hHeyv-uAGMn3pyaswmkzrg,zv_XJAQr9D3PNR5eHYhC5w,Bar La Grassa
2,4,This was date night for me and the girlfriend ...,2020-06-12 23:44:35,QswObuJ7dLFadPl_iPJcgA,Jack G.,ftaFFF1-9md-nhm7QqhfrQ,zv_XJAQr9D3PNR5eHYhC5w,Bar La Grassa
0,5,Hot Take: Twin Cities' best new food/drink spo...,2020-10-12 09:19:13,NzkDBrU-q7lLd2-7AYRxOQ,Marie C.,KL9E6DK2Ir0da90Vq1XPAg,Q5QKCZfPmWEFAmYCaBC4Uw,CHX
1,3,Walking up to the window to order was a breeze...,2020-09-07 01:50:44,xi3EQRkRIwZbSR6TK8yJ1w,Tysin D.,fpQAmJUGCDsEfEJqaK4Kjw,Q5QKCZfPmWEFAmYCaBC4Uw,CHX
0,5,A Minneapolis staple. Fastest ph in the west!...,2020-10-21 15:09:19,on8-HBQXfoYQfp58xx6_Lg,Ben C.,ZQIQR3fBCXJT0LgeA2sSWQ,rJY7EbVlXPXWgwojyEJq8w,Lotus Restaurant
1,4,I'd been to the old Lotus in Uptown a couple o...,2020-08-12 02:05:20,QK7dDel9lW7XknKZsq4Awg,Rodger B.,kihCo1XD20PYmZggMsQVoQ,rJY7EbVlXPXWgwojyEJq8w,Lotus Restaurant
2,2,Rip off.\nFood and staff are icky.\nPrices are...,2020-06-29 22:52:15,S03AJtSAbBjgQIt0axXceA,Lisa H.,7AlB0irCGSv6ZTEwd_UiPQ,rJY7EbVlXPXWgwojyEJq8w,Lotus Restaurant
0,5,Always a delicious meal at 112 Eatery. All th...,2020-10-16 06:59:55,KG7lVQvWQbBN4p7B7XMlhg,Joyce I.,ttCKlOKicxWLchdl1qsMgQ,6vaAze9Fxuco249L3BhEdQ,112 Eatery
1,4,The food: always amazing; as it has been for 1...,2020-06-30 07:15:23,MYCNWMGp0e9iVN6I6SUIRg,Carter A.,IyDE1kaZu4Ho5skVxe4Jmg,6vaAze9Fxuco249L3BhEdQ,112 Eatery
2,4,I'm updating my rating since the menu has chan...,2019-12-17 17:57:34,cLScUtpTn_0U0_x0ehsO6Q,Camille L.,igergVbJAOzh7LvkkZfr4A,6vaAze9Fxuco249L3BhEdQ,112 Eatery
0,5,I made the happy mistake of running past Brasa...,2020-05-08 14:26:54,GfBVaFpRD1xLFq8UKtZopA,Aleah H.,bDm2qEbHAA9qq2u_FR9zBA,Dx52kVp9UBzI4LuL-J4TWA,Brasa Rotisserie
1,5,Takeout Tuesday brought to you by Brasa! We we...,2020-04-14 16:26:56,Fxglxx6p9k0wMWQk93G5sA,Tanea M.,YEQkKxZ4uhK7Oz3cJQVzgA,Dx52kVp9UBzI4LuL-J4TWA,Brasa Rotisserie
2,5,What an amazing dinner. Since it was pick up o...,2020-03-24 19:40:14,VYKlILsN27-sXIVCfQaI9A,Alija T.,KxceI32nTv1rdL4GwpL5pw,Dx52kVp9UBzI4LuL-J4TWA,Brasa Rotisserie
0,5,Surly is doing an excellent job navigating the...,2020-07-25 13:14:56,01zwoS1XLvXr6i4PeFSZ7w,Jay C.,RyjIPVmto35ZKxBQwrEV8w,G7iXpVSRuXzCbD2daJ_JYQ,Surly Brewing
1,5,Surly is a great option for a relatively safe ...,2020-07-11 13:35:07,RDGwnxmCu_Ulbnva80FjSA,Alice M.,GGdnMcaGNcmWrTVJmTcH4Q,G7iXpVSRuXzCbD2daJ_JYQ,Surly Brewing
2,5,Pretzel appetizer. Homemade pimento cheese and...,2020-07-31 16:05:01,Rsa7P9cQaLRvsjNuJp4waw,M P.,mtxB_23HfrZTqQeIdhOFDw,G7iXpVSRuXzCbD2daJ_JYQ,Surly Brewing
0,5,We picked up curbside to go and everything I o...,2020-10-22 07:41:02,LgOR46RQ6oYnkUv0D-m1zw,Rachelle P.,ytfOX_Z5WkMfr2WMgUH_PA,5s2sT8ux7og5XfK-180r2g,George & The Dragon
1,5,Saw George and the Dragon featured on DDD and ...,2020-08-14 19:00:29,hia3_i2OcZj_18v9LZ-wfg,Brandon J.,Sg8jj6BO8AoGlKz54lHh8Q,5s2sT8ux7og5XfK-180r2g,George & The Dragon
2,5,"Still amazing, pandemic or no. Really everythi...",2020-08-21 11:18:38,0vUzpY5hZ7LB7N09yICwdg,S And B D.,2LgAn3XIW_wYubsTs3r-kQ,5s2sT8ux7og5XfK-180r2g,George & The Dragon
0,5,I'll start this off by saying I've uttered the...,2020-05-06 00:46:09,d-rq87rKdCi_YmnFHU5nWQ,Kristin B.,SyRtlHjGW7F25jJaZ4Wvhw,5K82sS0qi4hCnNXzc0mM3A,Revival
1,5,First timers here and we were IMPRESSED. The f...,2020-03-23 18:21:41,UO3qPzf5lBfrz0laa7xP3A,Bailey A.,ochwvH4DdoXeHj5MCGv36A,5K82sS0qi4hCnNXzc0mM3A,Revival
2,5,"Some of the best fried chicken I've had, great...",2020-06-11 00:02:32,WPI9Cz-gZQP7sV32gjPFng,Jack G.,ftaFFF1-9md-nhm7QqhfrQ,5K82sS0qi4hCnNXzc0mM3A,Revival
0,4,Still a fan! I posted my first review where I ...,2020-09-10 10:37:44,KPRrt1M_LW17ZfA_8pERxQ,Lauren S.,zQGqDZxdSn4ocCLneboUEA,fYlgTzLNx6bcaKAiHMG2wQ,HAI HAI
1,4,Covid times review....Went with a group of fou...,2020-08-15 09:01:42,MA5MevZF1-WCBBjZ7lvHJw,Christine P.,rCU809zN0QusVleJMjNiqA,fYlgTzLNx6bcaKAiHMG2wQ,HAI HAI
2,5,When my friend and I were planning were to go ...,2020-08-02 15:49:16,6grpEo8k_nLDs2DIm5i4sw,Chris C.,ryt0GszEzZFi6yLlAH_pKA,fYlgTzLNx6bcaKAiHMG2wQ,HAI HAI
0,5,A while back (pre-virus) a buddy and I managed...,2020-08-08 13:23:20,41ts-R-kPQZLTgcURw97cA,Kurt M.,-thw19l4MzVBAX1GMyKP7A,5Y2nekkwRrNMMSx3b-2EhA,Young Joni
1,5,We love young Joni! It is so hard to get a res...,2020-04-28 17:26:16,XwfpIKvo0xDKd3aEVTnHcA,Tanea M.,YEQkKxZ4uhK7Oz3cJQVzgA,5Y2nekkwRrNMMSx3b-2EhA,Young Joni
2,5,I haven't been inside since maybe February? B...,2020-10-12 18:00:12,91Owfq-2UMXqNyR9XfZ1BQ,Peggy V.,PZOIHeULGKze05SgtY1bEg,5Y2nekkwRrNMMSx3b-2EhA,Young Joni

In [48]:
review_df = pd.read_csv('data/review_data.csv')
len(review_df)

149

In [5]:
review_list = review_response['reviews']
make_review_df(review_list)

,rating,review,timestamp,restaurant_id,user_name,user_id
0,5,What a darling neighborhood spot! Lots of take...,2020-09-03 19:42:33,lIfGtbTIs0iFY-FO2fTeXg,Teri M.,qsvF7iQ8kHKFqDo9HccYLA
1,5,Love the veggie curry and chicken karaage! Tas...,2020-09-29 08:08:39,glv_p4Ja9yFaIMF1rP4utg,Tiger H.,NJVkWqKTtaR3w9zOMl-zAw
2,5,We have been waiting for this restaurant to op...,2020-08-29 17:32:02,6pwyJnB024AP2z9K4O1YsA,Maggie B.,W08sB7PohxU0z3csKM8ihg

In [4]:
data = [(elt['name'], elt['rating'], elt['location']['address1'], elt['location']['zip_code'], elt['display_phone'], elt['url'], elt['id'], elt['price'], elt['transactions'], elt['categories'], elt['coordinates']) for elt in business_data['businesses']]

KeyError: 'price'

In [6]:
business_data['businesses'][-2]

{'id': 'WvgAuJo6rUM1_I2sVDEzyg',
 'alias': 'snack-bar-minneapolis',
 'name': 'Snack Bar',
 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/0ti5h9qhtyM-5fPphGuiBQ/o.jpg',
 'is_closed': False,
 'url': 'https://www.yelp.com/biz/snack-bar-minneapolis?adjust_creative=5q2gXrFINpdsi56KQ3uWdQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=5q2gXrFINpdsi56KQ3uWdQ',
 'review_count': 39,
 'categories': [{'alias': 'pizza', 'title': 'Pizza'},
  {'alias': 'tapasmallplates', 'title': 'Tapas/Small Plates'}],
 'rating': 4.0,
 'coordinates': {'latitude': 44.9896, 'longitude': -93.2786408},
 'transactions': [],
 'location': {'address1': '800 N Washington Ave',
  'address2': '',
  'address3': None,
  'city': 'Minneapolis',
  'zip_code': '55401',
  'country': 'US',
  'state': 'MN',
  'display_address': ['800 N Washington Ave', 'Minneapolis, MN 55401']},
 'phone': '+16123832848',
 'display_phone': '(612) 383-2848',
 'distance': 2826.192739302379}

In [5]:
reader = Reader(
    line_format='user item rating', sep=',', rating_scale = (0,5)
    )
train_df = pd.read_csv('train.csv')
data = Dataset.load_from_df(train_df, reader=reader)
trainset, testset = train_test_split(data, test_size=0.2)
#trainsetfull = data.build_full_trainset()

In [76]:
my_k = 15
my_min_k = 5
my_sim_option = {
    'name':'pearson', 'user_based':False}
algo = KNNWithMeans(k = my_k, min_k = my_min_k, sim_option = my_sim_option)
algo.fit(trainset)

predictions = algo.test(testset)
accuracy.rmse(predictions)

60

In [ ]:
results = cross_validate(
    algo = algo, data = data, measures=['RMSE'], 
    cv=5, return_train_measures=True
    )
    results['test_rmse'].mean()

In [77]:
businesses = pd.read_csv('business_data.csv')

In [79]:
businesses.drop_duplicates(keep='first', inplace=True)
len(businesses)

20

In [84]:
from flaskapp.download_reviews import query_business_api

ModuleNotFoundError: No module named 'flaskapp'

In [80]:
retrieved_data = query_business_api(offset=1).json()

NameError: name 'query_business_api' is not defined

In [68]:

reviews = pd.read_csv('review_data.csv', index_col=0)
reviews.head(20)

,rating,review,timestamp,restaurant_id,user_name,user_id
0,5,"Fuck, you guys. Everything here will melt and ...",2020-10-07 19:09:09,D799KG1dx-Vf3zpZ5JreSQ,Annalee T.,iqS1mA7zdFEUIjz8KW5oVw
1,5,I miss this restaurant more than most during C...,2020-09-19 09:02:22,Sx78U_0np04cZwBYUIDZ4g,Ursula B.,hHeyv-uAGMn3pyaswmkzrg
2,4,This was date night for me and the girlfriend ...,2020-06-12 23:44:35,QswObuJ7dLFadPl_iPJcgA,Jack G.,ftaFFF1-9md-nhm7QqhfrQ
0,5,Always a delicious meal at 112 Eatery. All th...,2020-10-16 06:59:55,KG7lVQvWQbBN4p7B7XMlhg,Joyce I.,ttCKlOKicxWLchdl1qsMgQ
1,4,The food: always amazing; as it has been for 1...,2020-06-30 07:15:23,MYCNWMGp0e9iVN6I6SUIRg,Carter A.,IyDE1kaZu4Ho5skVxe4Jmg
2,3,I really loved it. Always a delicious meal at ...,2020-10-17 10:58:36,vcyNp7DivsNth-8NikBh9g,Great Dane P.,WP7BAr6ssVaCvvIt_BKyYQ
0,5,Saw George and the Dragon featured on DDD and ...,2020-08-14 19:00:29,hia3_i2OcZj_18v9LZ-wfg,Brandon J.,Sg8jj6BO8AoGlKz54lHh8Q
1,5,"Still amazing, pandemic or no. Really everythi...",2020-08-21 11:18:38,0vUzpY5hZ7LB7N09yICwdg,S And B D.,2LgAn3XIW_wYubsTs3r-kQ
2,5,What a treat. Flew into town and wanted to fi...,2020-08-18 16:57:54,pMQOGhmtJsOXlH5z5kUZyg,Ben L.,w_Ru_isrLBtbdtxro5TYEg
0,5,We went during COVID so I'm sure we didn't get...,2020-07-14 06:06:14,p0Q7Capy-TtY8pfvCCG0nQ,Dale G.,Jljum8MVQ2l067RzRqWJqQ
1,5,"*Updated August 2020* we had such a pleasant, ...",2020-08-08 07:10:25,xvpsEYi1aqUm5_zP4flX5Q,Britta S.,7J4-BQVYL9xiExw0p5oo-Q
2,5,My fianc and I came here for dinner in the mi...,2020-07-14 21:18:08,hOUmrJl9b7BBJLJvgQ4J0w,Erin H.,S6ZrsS9rikyzOvqyPepHBw
0,5,Love that this place is employee owned. Love (...,2020-09-02 15:37:30,wa6q9k5hepvGGcEDtwymVg,Ed S.,-R3nGL-2QKCpoGgr98AQQA
1,4,Stopped in for lunch while at a conference bef...,2020-03-19 16:06:04,Z9evB7CmpuVa3-lWiUOUBQ,Rosalind B.,3u41kQ2HLI8erkIkBPU6vQ
2,4,The lemon ricotta pancakes.... is all I can re...,2020-08-03 14:55:22,zCyETdBoABD0LaoT2zXP2A,Christine J.,KbyMAaYWTilS5BidYqngtg
0,5,My family and I were looking to get out of the...,2020-05-17 08:24:12,640ZXrsLMUkTEmG8Enir2Q,Jessica T.,RIV0GB-qxyNxHh0z-tAGtA
1,5,Ordered take out via online during this pandem...,2020-04-16 16:14:46,nXFe3mfg877i3z7mfnu8Lg,Liz P.,32R05jADb6HQJPzFIRYJ9g
2,5,Wow this pizza was damn good! I always drive b...,2020-05-02 20:03:56,eXRYSE4pYN4AO-_siJafiw,Steph T.,7W3piZHZo8kq41h7Jv-dfw
0,5,I am so glad this restaurant is operating duri...,2020-07-09 14:52:31,d9FB8U7ciSeP6LPQGK-PBw,Linda S.,1_i42G-exZoyBdCirzYWBQ
1,5,Have you tried Red Cow's takeout service yet? ...,2020-03-22 10:40:23,1qSVVXIg6D88XP4jiffrdw,Lorene F.,VHtsWrs7l8d0Y-CBGDtRtw

In [43]:
review_df.to_csv('review_data.csv')

In [2]:
df = pd.read_csv("Food_Inspections.csv")
df['BusinessName'] = df['BusinessName'].str.upper()
df['BusinessName'] = df['BusinessName'].str.strip()
categories = ['RESTAURANT', 'FOOD TRUCK', 'FOOD CART']
df = df[df['FacilityCategory'] .isin(categories)]
df.drop_duplicates(subset = ['BusinessName'], keep='last', inplace=True)
keep_cols = ['BusinessName', 'X', 'Y', 'FullAddress', 'City', 'ZipCode', 'Neighborhood', 'Latitude', 'Longitude']
df = df.loc[:, keep_cols]

In [27]:
df.to_csv('restaurants.csv')

In [24]:
df[df['FacilityCategory'] == 'FOOD CART']

,X,Y,OBJECTID,HealthFacilityIDNumber,FacilityCategory,BusinessName,RiskLevel,FullAddress,AddrNum,AddrNumSuffix,...,ViolationPoints,InspectionScore,ViolationIDNumber,APN,Ward,Neighborhood,Latitude,Longitude,X_WebMercator,Y_WebMercator
27178,-93.275787,44.977720,27179,LIC38173,FOOD CART,TOP DOGS,2,722 HENNEPIN AVE,722.0,NaN,...,4,94,677467,2202924430133,7.0,Downtown West,44.97772,-93.27579,-1.038341e+07,5.618015e+06
21450,0.000000,0.000000,21451,LIC365072,FOOD CART,PIONEER COLLEGE CATERERS,2,1401 ELLIOT AVE,1401.0,NaN,...,0,100,-1,NaN,NaN,NaN,0.00000,0.00000,0.000000e+00,0.000000e+00
32510,-93.234367,45.004833,32511,LIC42319,FOOD CART,UNCLE FRANKY'S TOOL BOX,2,1520 NEW BRIGHTON BLVD,1520.0,NaN,...,0,100,-1,1302924120016,1.0,Northeast Park,45.00483,-93.23437,-1.037880e+07,5.622282e+06
10985,-93.262172,44.974589,10986,LIC32948,FOOD CART,HENN CTY ADULT SERV-VOC SERV PROGR,2,525 PORTLAND AVE #300,525.0,NaN,...,0,100,-1,2602924210053,7.0,Elliot Park,44.97459,-93.26217,-1.038190e+07,5.617522e+06
27079,-93.307592,44.991771,27080,LIC381380,FOOD CART,MR. FAULKNER'S OLD FASHIONED HOT DOGS,1,2100 PLYMOUTH AVE N,2100.0,NaN,...,0,100,-1,1602924339000,5.0,Willard - Hay,44.99177,-93.30759,-1.038695e+07,5.620226e+06
27168,-93.273850,44.975640,27169,LIC38170,FOOD CART,TOP DOG,1,800 NICOLLET MALL,800.0,NaN,...,0,100,-1,2702924120139,7.0,Downtown West,44.97564,-93.27385,-1.038320e+07,5.617687e+06
56965,-93.273850,44.975640,56966,LIC45072,FOOD CART,NIBBLES,2,800 NICOLLET MALL,800.0,NaN,...,2,92,770547,2702924120139,7.0,Downtown West,44.97564,-93.27385,-1.038320e+07,5.617687e+06

In [36]:
def binary_search(A, start, end, target):
    mid = start + (end-start)//2
    if A[mid] >= target:
        if end <= start + 1:
            return mid
        return binary_search(A, start, mid, target)
    else:
        if end <= start + 1:
            return end
        return binary_search(A, mid+1, end, target)

In [38]:
A = [1,2,3,4,5,6,7,8,9]
print(binary_search(A, 0, len(A)-1, 8))

7